<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> neeraj Dwivedi 78ae3d  </title>
</head>
<body>
    <h1>
        Hello World
    </h1>   
    <span>This World</span><br>
    <a href="#">Next</a><br>
  <strong>My world</strong>  <br>
  <em>This Is End</em><br>
  <ul>
  <li>Home</li>
  <li>pione</li>
  <li>class</li>
  <li>servic</li>
  </ul>
</body>
</html>









<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
     <button type="button" name=" Login">Login</button>  -->
    <!-- <a href = "account/register">Register</a><br><br> -->
    <!-- <a href="account/login"> login</a> -->
    <!-- <h1> this is Index page</h1> -->
<!-- </body> -->
<!-- </html> --> 

